In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Name": ["Shubham", "Jay", "Swanand", "Vedant", "Pushkar"],
    "Age": [21 , 20 , 25 , 20 , 18 ],
    "Score": [99 , 70 , 80 , 97 , 78]
}
df = pd.DataFrame(data)

In [3]:
print("DataFrame:\n", df)

DataFrame:
       Name  Age  Score
0  Shubham   21     99
1      Jay   20     70
2  Swanand   25     80
3   Vedant   20     97
4  Pushkar   18     78

In [7]:
age_column = df["Age"]
print("\nRetreived Column - Age:\n", age_column)

Retreived Column - Age:
 0    21
1    20
2    25
3    20
4    18
Name: Age, dtype: int64

In [8]:
summary = df.describe()
print("\nSummary Statistics of DataFrame:\n", summary)

Summary Statistics of DataFrame:
              Age      Score
count   5.000000   5.000000
mean   20.800000  84.800000
std     2.588436  12.637247
min    18.000000  70.000000
25%    20.000000  78.000000
50%    20.000000  80.000000
75%    21.000000  97.000000
max    25.000000  99.000000

In [9]:
mean_values = df.select_dtypes(include=[np.number]).mean()
std_values = df.select_dtypes(include=[np.number]).std()

In [10]:
print("\nMean Values:\n", mean_values)
print("\nStandard Deviation Values:\n", std_values)

Mean Values:
 Age      20.8
Score    84.8
dtype: float64

Standard Deviation Values:
 Age       2.588436
Score    12.637247
dtype: float64